body {
	background-color: #eee;
	padding-top: 50px;
	/*overflow-x: hidden !important;*/
	/*Stops horizontal scrolling*/
}
h2 {
	color: #F5F5F5;
}
p {
	color: #F5F5F5;
}
.about-me {
	background-color: #34495e;
}
footer {
	background-color: grey;
	/*#ecf0f1*/
	height: 100%;
	margin-top: 0px;
	color: #ffffff;
}
.jumbotron {
	background-image: url("img/jumboPic.jpg");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0px;
	max-height: 500px;
}

#jumboText {
	color: #ffffff;
}
#jumboBack {
	background-color: #131210;
}
.social {
	margin-bottom: 0;
}
.profilePic {
	margin-top: 30px;
}
#viewMore {
	margin-top: 250px;
}
.fa {
	padding: 20px;
	font-size: 30px;
	width: auto;
	text-align: center;
	text-decoration: none;
	margin: 15px 2px;
	border-radius: 50%;
}
.fa:hover {
	opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-envelope {
  background: #125688;
  color: white;
}

section .row {
	height: auto;
}

/* Make sure that padding behaves as expected 
* {box-sizing:border-box}*/

/* Container for skill bars 
.skillsBorder {
    width: 100%; /* Full width */
  /*  background-color: #ddd;*/ /* Grey background */
 /*} */

.skills {
    text-align: right; /* Right-align text */
    padding-right: 20px; /* Add some right padding */
    line-height: 40px; /* Set the line-height to center the text inside the skill bar, and to expand the height of the container */
    color: white; /* White text color */
}

.greyText{
	color: grey;
}

.whiteColor{
	background-color: #ffffff;
}

.skillsArea{
	padding-bottom: 50px;
}

.menu {
	width: 90%; 
	background-color: #4CAF50; 
	border-radius: 2px;
} /* Green */

.costing {
	width: 100%;
	background-color: #2196F3;
	border-radius: 2px;
} /*Blue*/

.testing {
	width: 50%; 
	background-color: #f44336;
	border-radius: 2px;
} /*Red*/

.another {
	width: 30%; 
	background-color: #ff6600;
	border-radius: 2px;
} /*Orange*/